html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 5rem;
}

h1 span {
    color: #037bc0;
}

.navegacion {}

.enlace {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}