html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* * Globales */
a {
    text-decoration: none;
    color: #000;
}


/* * Header y Navegacion */

.nombre-sitio {
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.nav-principal {
    border-top: 1px solid #e1e1e1;
    padding: 20px 0;
}