@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales {

    &__heading {
        @include m.headingBorder(v.$secundario, v.$primario);
    }

    @include m.tablet {
        @include m.grid(5, 4rem);
        align-items: center;

        &__imagen {
            grid-column: 1 / 3;
        }

        &__contenido {
            grid-column: 3 / 6;
        }
    }


}